<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base :: head}"></head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:replace="~{base :: header}"></header>
    <div class="container">
        <h1 class="mb-3 text-center">Kaikei - Sistema de Análise de Transação Financeiras</h1>
        <form th:action="@{/login}" method="post" id="login-form">
            <!--/*@thymesVar id="msgRegister" type="br.com.kaikei.controller.CadastroUsuarioController"*/-->
            <div th:if="${msgCadastro}" th:text="${msgCadastro}" class="alert alert-warning" role="alert" align="center"></div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="username">
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input name="password" type="password" class="form-control" id="senha">
            </div>
            <div class="alert alert-danger" role="alert" th:if="${param.error}">
                Usuário ou senha inválido.
            </div>
            <button data-callback='onSubmit' data-action='submit' th:attr="data-siteKey=${@recaptchaKeys.getSite()}" class="g-recaptcha btn btn-primary">Login</button>
        </form>
    </div>
    <script>
        function onSubmit(token) {
            document.getElementById("login-form").submit();
        }
    </script>
</body>
</html>
